@model MODELS.Models.Room

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
        <a href="H:\DOTNET Training\LabsASP.NET\MODELS\HBMSMVC\Views\Rooms\Create.cshtml">H:\DOTNET Training\LabsASP.NET\MODELS\HBMSMVC\Views\Rooms\Create.cshtml</a>
                            <label asp-for="RoomNo" class="control-label"></label>
                            <input asp-for="RoomNo" class="form-control" />
                            <span asp-validation-for="RoomNo" class="text-danger"></span>
                        </div>*@
            <div class="form-group">
                <label asp-for="Hotel" class="control-label"></label>
                @*<input asp-for="HotelId" class="form-control" />*@

                <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelID">
                    <option selected="selected" value=""></option>
                </select>
                <span asp-validation-for="HotelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                @*<input asp-for="RoomTypeId" class="form-control" />*@

                <select asp-for="RoomTypeId" class="form-control" asp-items="ViewBag.RoomID">
                    <option selected="selected" value=""></option>
                </select>

                <span asp-validation-for="RoomTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatePerNight" class="control-label"></label>
                <input asp-for="RatePerNight" class="form-control" />
                <span asp-validation-for="RatePerNight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Hotels">Back to Hotel List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
